/* color */

// basic
$white: #ffffff;
$black: #242424;

// gray
$light-gray: #949494;
$gray: #777777;
$dark-gray: #3b3b3b;

// code-output
$code-output-log: #ddd;
$code-output-warn: #facc15;
$code-output-error: #ef4444;

/* */

// layout
$layout-padding: 20px;

// text
$text-font-size: 14px;
$text-font-height: 24px;

// block
$block-border-radius: 8px;
